#header1-0 P {
  color: #cccccc;
}
#header1-0 H1 {
  color: #000000;
}
#header1-0 SPAN {
  font-size: 48px;
  color: #ffffff;
}
#header1-1 P {
  color: #cccccc;
}
#header1-1 H1 {
  color: #000000;
}
#header1-1 SPAN {
  font-size: 48px;
  color: #ffffff;
}
#header1-2 P {
  color: #cccccc;
}
#header1-2 H1 {
  color: #000000;
}
#header1-2 SPAN {
  font-size: 48px;
  color: #ffffff;
}
#header1-3 P {
  color: #cccccc;
}
#header1-3 H1 {
  color: #000000;
}
#header1-3 SPAN {
  font-size: 48px;
  color: #ffffff;
}
